# Default ignored files
/shelf/
/workspace.xml
/scraping/ao3_with_author
/scraping/fulltext
/scraping/chromedriver
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
.DS_store
data/.Rhistory
