@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:700";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {

  height: 93%;

  width: 93%;
}

body {
  margin: 10vh 10vh 10vh 10vh;
  max-width: 1000px;

  padding-bottom: 5%;
  border-top:10px solid #1abca6;
  border-bottom: 10px solid #1abca6;
  border-left: 5px solid #CC6600;
  border-right: 5px solid #CC6600;
  z-index: 1;
  position: relative;
  text-align: center;
  color: #CC6600;
  font-family: "Source Sans Pro", sans-serif;
  background: #FFF;
  -webkit-font-smoothing: antialiased;
}

.flex {

  margin-top: 6%;
  display: flex;
  position: absolute;
}

a.bttn {
  color: #1abca6;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn:hover {
  color: #CC6600;
}
a.bttn:focus {
  color: #CC6600;
}

.bttn {

  left:5vw;
  height: 12vh;
  font-size: 2.5vh;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 20vw;
  font-weight: bold;
  padding-top: 3.5vh;

  border: 3px solid #1abca6;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0%;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #1abca6;
  z-index: -2;
}
.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}


.playBut {
  /*  border: 1px solid red;*/
  display: inline-block;
  -webkit-transition: all 0.5s ease;

  position:absolute;
 top: 40%;
  left: 40%;
  height: 20%;
  width: 20%;
}
.playBut .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #000;
  transform: translateY(0);
}

.playBut .circle {
  stroke: #CC6600;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #1abca6;
  animation: nudge 0.7s ease-in-out;
}
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
.playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}

.score_label {
  color: #1abca6;
  font-size: 10vh;
  letter-spacing: 5px;
}

.begin {
  grid-column: column-start 3 / span 9;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #1abca6;
  font-size: 10vh;
  letter-spacing: 0px;

}
.blink {
  -webkit-animation: 1s blinkBl step-end infinite;
  -moz-animation: 1s blinkBl step-end infinite;
  animation: 1s blinkBl step-end infinite;
}

@keyframes blinkBl {
  from, to {
    color: transparent;
  }
  50% {
    color: #1abca6;
  }
}
@-moz-keyframes blinkBl {
  from, to {
    color: transparent;
  }
  50% {
    color: #1abca6;
  }
}


.score {
  color: #1abca6;

  font-size: 14vh;
  letter-spacing: 5px;
}

audio {
  display: none;
}

.modal {
  display: none;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  min-width: 400px;
}
/* The Modal (background) */
.modal2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 200px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 60%;
  /* Full width */
  height:100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: #000;
  background: #1abca6;
  margin: auto;

  padding: 25px;

  border: 1px solid #888;
  width: 80%;
  border: 2px solid #CC6600;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari, Chrome */

  font-size:1.5vw;
}

.hide {
  visibility:hidden;
}
/* The Close Button */
.close {
  color: gray;

  font-size: 2vw;
  font-weight: bold;
  background-color: #aaaaaa;
/*  padding: 8px 8px 8px;*/

}



/*the continue button*/
.continue {
  color: #1abca6;
  margin-left: 4vw;
  font-size: 2vw;
  font-weight: bold;
  background-color: #CC6600;
}

.continue:hover,
.continue:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#answer-box{
  width:70%;
  border: 2px solid black;

  /*border: 1px solid black;*/
}



.box-header{
  display: inline-block;
  background-color: #CC6600;
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
  width: 100%;
  height: 125px;
  padding: 0;
  margin: 0;

}
.box-header-left {
display: inline;
  font-size: 25px;
  letter-spacing: 5px;
  position: absolute;
  left: 5%;
}
.box-header-right {
display:inline;
  font-size: 25px;
  letter-spacing: 5px;
  right: 5%;

}

#answer-box-hor{
  border: 2px solid black;

  /*border: 1px solid black;*/
}

.button {
  border: 3px solid #1abca6;
  border-collapse: collapse;
  border-radius: 2px;
  margin:0;
  padding:0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  /* color of button */
  background-color: #FFF;
  color: #1abca6;
  cursor: pointer;
  display: inline;
  /*padding: 6px 6px 4px;*/
  font-size: 24px;
  font-weight: 500;
  width: 50%;
  min-width:300px;
  left: 0;


  height: 100px;



}

.column {
  float: left;
  width: 50%;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.button:hover {
  background-color:#1abca6;
  color:#CC6600;
  font-weight:1000;
  font-size:26px;

}

/*hint button*/
.hintbutton {
    background-color: white;
  /* color of button */
  color: #1abca6;
  /* color of button text */
  cursor: pointer;
  display: inline-block;
  padding: 6px 6px 4px;
  border-color:#CC6600;
  font-size: 12px;
  font-weight: bold;
  width: 15vw;
  /* dimension of box */
  height: 8vh;
  position: center;
  top: 70vh;
    left: 33%;
  /* position at bottom */
  bottom: 0px;

  /* center*/
}

.hintbutton:hover {
  background: black;
}

#myanswer {
  position: absolute;
  top: 65vh;
  left: 43%;
  height: 4vh;
  width: 15vw;

}

#myBtn {
  position: absolute;
  top: 70vh;

  left: 53%;
  height: 8vh;
  width: 15vw;
  font-size:2vw;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 12;
  border: 1px solid black;
}

.footer {
  grid-column: col-start 1 / span 12;
  grid-row: 24;
}

.scorebox {
  border: 1px solid blue;
  grid-column: col-start 7 / span 2;
  grid-row: row-start 2 / span 4;
}

.game-area {

}